<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doraemon: The Robot Cat</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>Doraemon: The Robot Cat from the Future</h1>
        </header>

        <nav>
            <a href="#">Nobita</a>
            <a href="#">Shizuka</a>
            <a href="#">Gian</a>
            <a href="#">Suneo</a>
            <a href="#">Doraemi</a>
        </nav>

        <main>
            <h2><span class="highlight">Who is Doraemon?</span></h2>

            <figure id="doraemon">
                <img src="doraemon.jpg" alt="Doraemon Character">
                <figcaption>The Iconic Robot Cat, Doraemon!</figcaption>
            </figure>

            <p>Doraemon is a robot cat from the future who comes to help a boy named Nobita Nobi. He has a pocket full of amazing gadgets from the future, and he uses them to help Nobita with his problems everyday, like doing homework or  trouble getting out of trouble with his friends. But, even though Doraemon tries hard, Nobita often ends up in more trouble, which makes the story funny and adventurous</p>

            <p>One of the things people love most about Doraemon is the cool gadgets he carries. These gadgets, like the "Anywhere Door" for traveling anywhere or the "Time Machine" for fun trips, are a big part of the stories. Doraemon not only brings interesting stories but also teaches important lessons about friendship, family and bravery. He is always caring and dedicated to Nobita and those around him helping them face challenges in life.</p>
            <p class="end"></p>
        </main>

        <footer>
            <p>&copy; 2025 Dang My Anh Do</p>
        </footer>
    </div>
</body>
</html>
