body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #824666;
    color: white;
    padding: 15px 0;
    text-align: center;
}

footer {
    background-color: #824666;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
}

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: 2px solid #824666;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

legend {
    font-size: 1.4em;
    font-weight: bold;
    color: #824666;
}

label {
    font-size: 1em;
    margin-bottom: 10px;
    display: block;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    width: 150px;
    margin-right: 20px;
    text-align: right; 
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select,
textarea {
    width: calc(100% - 170px);
    padding: 10px;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    form {
        padding: 10px;
    }

    label {
        font-size: 1.1em;
    }

    button {
        font-size: 1.5em;
        width: 100%;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    textarea,
    select {
        width: 100%;
    }

    fieldset {
        padding: 15px;
    }
    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    label {
        width: 100%;
        text-align: left;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    select,
    textarea {
        width: 100%;
    }
}
